/* 禁用iPhone中Safari的字号自动调整 */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
/* 去除iPhone中默认的input样式 */
input[type="submit"],

input[type="reset"],

input[type="button"],

input{-webkit-appearance:none; resize: none;}
/* 取消链接高亮  */
body,div,ul,li,ol,h1,h2,h3,h4,h5,h6,input,textarea,select,p,dl,dt,dd,a,img,button,form,table,th,tr,td,tbody,article,
aside, details,figcaption,figure,footer,header,hgroup, menu,nav,section{ -webkit-tap-highlight-color:rgba(0, 0, 0, 0); }
/* 设置HTML5元素为块 */
article, aside, details,figcaption,figure,footer,header,hgroup, menu,nav,section {
    display: block;
}
/* 图片自适应 */
img {
    max-width: 100%;
    height: auto;
    width:auto\9; /* ie8 */
    -ms-interpolation-mode:bicubic;/*为了照顾ie图片缩放失真*/
}
/* 初始化 */
body,div,ul,li,ol,h1,h2,h3,h4,h5,h6,input,textarea,select,p,dl,dt,dd,a,img,button,form,table,th,tr,td,tbody,article,
aside, details,figcaption,figure,footer,header,hgroup, menu,nav,section{margin:0; padding:0; border:none;}
body{font: normal 14px/1.5 Tahoma,"Lucida Grande",Verdana,"Microsoft Yahei",STXihei,hei;cursor: default;}
em,i{font-style:normal;}
strong{font-weight: normal;}
.clearfix:after{content:""; display:block; visibility:hidden; height:0; clear:both;}
.clearfix{zoom:1;}
a{text-decoration:none; color:#969696; font-family: '微软雅黑',Microsoft YaHei,Tahoma,Arial,sans-serif;}
a:hover{ text-decoration:none;}
ul,ol{list-style:none;}
h1, h2, h3, h4, h5, h6{ font-size:100%; font-family: Microsoft YaHei;}
img{border: none;}

body{
	font-family: '微软雅黑';
}
li{
    vertical-align: top;
}
.wrap980{
	width: 980px;
	height: 100%;
}
.sun_main .shadow{
    z-index: 1;
}
.affiance .shadow{
    z-index: 1;
}
.shadow li:hover{
    box-shadow: 0 4px 4px 2px #c1c1c1;
}
.shadow .exp:hover{
    box-shadow: 0 4px 4px 2px #c1c1c1;
}
.shadow .exp:hover .banner_o{
    opacity: 1;
    filter:Alpha(opacity=100);
}
.shadow .exp .house_name:hover{
    color: #f60;
}
.t_name p a:hover{
    text-decoration: underline;
}
.formula_n{
    position: absolute;
    top: 26px;
    left: -7px;
    width: 230px;
    padding: 10px 20px;
    height: 50px;
    background: #FFF799;
    border: solid 1px #f60;
    border-radius: 10px;
    color: #333;
    font-size: 12px;
}

/*--------------导航样式--------------*/
.header{
    height: 180px;
    background: #fff;
}
.nav{
    height: 37px;
    width: 100%;
    border-top: #eee solid 1px;
    border-bottom: #ccc solid 2px;
    background: #fff;
}
.nav .innav{
    width: 550px;
    margin: 0 auto;
}
.innav li{
    float: left;
    padding: 0 25px;
    position: relative;
    line-height: 37px;
}
.innav li a{
    font-size: 14px;
    font-family: "微软雅黑";
    color: #999;
    display: block;
    height: 37px;
    cursor: pointer;
    padding: 0 2px;
}
.innav .hot span{
    background: url(../img/sprite.png) no-repeat 0 -20px;
    display: block;
    width: 28px;
    height: 17px;
    position: absolute;
    top: -5px;
    right: -5px;
}
.innav .nav_act a{
    color: #ff6600;
    border-top: #ff6600 2px solid;
    margin-top: -1px;
    line-height: 35px;
}
.innav li a:hover{
    color: #ff6600;
}

/*--------------面包屑样式--------------*/
.crumble{
    width: 980px;
    height: 50px;
    margin: 0 auto;
    font-size: 12px;
    color: #333;
    line-height: 50px;
}
.crumble a{
    color: #333;
    font-family: '微软雅黑';
}
.crumble span{
    color: #999;
}