/*--------------广告搜索部分样式--------------*/
.search{
	width: 100%;
	height: 330px;
	position: relative;
	overflow: hidden;
}
.search .wrap980{
	margin: 0 auto;
	position: relative;
	height: 0;
	z-index: 4;
}
.search .banner li{
	width: 3000px;
	height: 330px;
	position: absolute;
	left: 50%;
	margin-left: -1500px;
}
.search .banner li a{
	width: 100%;
	height: 330px;
	display: block;
}
.dot{
	position: absolute;
	bottom: 10px;
	left: 50%;
	margin-left: -39px;
	z-index: 5;
}
.dot li{
	background: url(../img/sprite.png) no-repeat 0 0;
	width: 14px;
	height: 14px;
	float: left;
	margin-right: 12px;
	cursor: pointer;
} 
.dot .act{
	background: url(../img/sprite.png) no-repeat -20px 0;
}
.search_bg{
	width: 270px;
	height: 270px;
	position: absolute;
	right: 0;
	top: 30px;
	background: black;
	opacity: 0.3;
	filter:Alpha(opacity=30);
}
.search_r{
	width: 270px;
	height: 270px;
	position: absolute;
	right: 0;
	top: 30px;
}
.search_r h4{
	font-size: 14px;
	line-height: 13px;
	height: 14px;
	color: #fff;
	font-weight: normal;
	width: 206px;
	margin: 20px auto 0;
	padding-left: 24px;
}
.search_r .icon1{
	background: url(../img/sprite.png) no-repeat 0 -40px;
}
.search_r .icon2{
	background: url(../img/sprite.png) no-repeat 0 -55px;
}
.search_r ul{
	width: 230px;
	margin: 0 auto;
}
.search_r ul .rev{
	width: 230px;
	height: 30px;
	line-height: 30px;
	margin-top: 10px;
	font-size: 12px;
	position: relative;
}
.search_r ul li .in_case{
	float: left;
	width: 70px;
	text-align: center;
	color: #474747;
	background: #f1f1f1;
}
.search_r .sel{
	float: left;
	width: 150px;
	padding-left: 10px;
	color: #999;
	background: #fff url(../img/sprite.png) no-repeat 140px -91px;
	cursor: pointer;
}
.search_r .rev ul{
	width: 158px;
	height: 144px;
	position: absolute;
	right: 0;
	top: 30px;
	border: 1px black solid;
	background: #fff;
	z-index: 1;
	display: none;
}
.search_r .rev ul li{
	line-height: 24px;
	padding-left: 10px;
	height: 24px;
	cursor: pointer;
	color: #333;
}
.search_r .rev ul li:hover{
	background: #ffefe5;
	color: #f60;
}
.search_r .result{
	position: absolute;
	right: 10px;
	bottom: 81px;
	color: #fff;
	font-size: 12px;
}
.search_r .obtn{
	width: 230px;
	height: 40px;
	line-height: 39px;
	background: #f60;
	margin: 25px auto 0;
	text-align: center;
	display: block;
	color: #fff;
	font-size: 14px;
	font-family: '微软雅黑';
}

/*--------------vip专享部分样式--------------*/
.vip{
	width: 100%;
	height: 430px;
	background: #f1f1f1;
}
.vip .wrap980{
	padding-top: 20px;
	margin: 0 auto;
	height: 410px;
}
.t_name{
	height: 20px;
	margin-bottom: 20px;
}
.t_name h2{
	font-size: 20px;
	line-height: 20px;
	padding-left: 30px;
	height: 21px;
	font-weight: normal;
	float: left;
}
.vip .t_name h2{
	background: url(../img/sprite.png) no-repeat -40px 0;
}
.t_name p{
	float: left;
	line-height: 25px;
	padding-left: 10px;
	font-size: 14px;
	color: #474747;
}
.t_name .more:hover{
	color: #f60;
}
.t_name p a{
	color: #f60;
	font-family: "微软雅黑";
}
.wrap980 .recom{
	height: 340px;
}
.wrap980 .recom li{
	width: 300px;
	height: 340px;
	float: left;
	margin-right: 37px;
	position: relative;
}
.wrap980 .short{
	background: url(../img/vip_bg1.png) no-repeat 0 0;
}
.wrap980 .long{
	background: url(../img/vip_bg2.png) no-repeat 0 0;
}
.wrap980 .recom .new{
	margin-right: 0;
	background: url(../img/vip_bg3.png) no-repeat 0 0;
}
.wrap980 .recom .short:hover{
	background: url(../img/vip_hbg1.png) no-repeat 0 0;
}
.wrap980 .recom .long:hover{
	background: url(../img/vip_hbg2.png) no-repeat 0 0;
}
.wrap980 .recom .new:hover{
	background: url(../img/vip_hbg3.png) no-repeat 0 0;
}
.wrap980 .recom li a:hover{
	background: #f06000;
}
.wrap980 .recom li:hover .num_1{
	color: #ff0000;
}
.wrap980 .recom a{
	width: 300px;
	height: 50px;
	background: #f60;
	position: absolute;
	text-align: center;
	line-height: 50px;
	font-size: 16px;
	color: #fff;
	font-family: '微软雅黑';
	bottom: 0px;
}
.wrap980 .rec_con{
	width: 140px;
	position: absolute;
	padding-top: 30px;
	top: 0;
	right: 0;
}
.wrap980 .rec_con span{
	display: block;
}
.num_1{
	font-family: "arial";
	color: #ff4949;
	font-size: 60px;
	line-height: 60px;
}
.num_1 i{
	font-size: 20px;
	line-height: 20px;
}
.yuqi{
	font-size: 12px;
	color: #999;
	height: 45px;
	border-bottom: #ccc solid 1px;
	margin-bottom: 10px;
}
.wrap980 .rec_con .case_v{
	font-size: 14px;
	color: #474747;
}
.wrap980 .rec_con em{
	color: #f60;
	font-style: none;
}
.wrap980 .rec_con p{
	margin-top: 50px;
	font-size: 12px;
	color: #474747;
}

/*--------------陆金所部分样式--------------*/
.gold{
	padding-top: 20px;
	margin-bottom: 30px;
}
.gold .wrap980{
	margin: 0 auto;
}
.gold .t_name{
	margin-bottom: 10px;
}
.gold .t_name h2{
	padding-left: 40px;
	background: url(../img/sprite.png) no-repeat 0px -70px;
}

.t_name .more{
	float: right;
	font-family: '微软雅黑';
	font-size: 14px;
	color: #474747;
}
.gold_main{
	height: 460px;
	position: relative;
}
.gold_main .side{
	width: 180px;
	height: 440px;
	background: url(../img/gold_bg.png) no-repeat 0 0;
	padding: 20px 0 0 20px;
	position: absolute;
	top: 0;
	left: 0;
}
.side p{
	color: #fff;
	width: 174px;
}
.gold_main .side ul{
	position: absolute;
	right: 0;
	top: 170px;
}
.gold_main .side ul li{
	width: 140px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	margin-bottom: 10px;
	cursor: pointer;
	color: #fff;
	background: #7785ce;
}
.gold_main .side ul .cur{
	background: #fff;
	color: #333;
	line-height: 40px;
	height: 36px;
	border-bottom: 4px solid #b3b4dc;
}
.gold_main .side ul li:hover{
	background: #fff;
	color: #333;
}
.main_r{
	width: 780px;
	height: 358px;
	border: solid 1px #ddd;
	border-right: 0;
	border-left: 0;
	position: absolute;
	left: 200px;
	top: 0;
}
.question{
	width: 779px;
	height: 81px;
	padding-top: 18px;
	border-bottom: solid 1px #ddd;
	border-right: solid 1px #ddd;
	background: #f9f9f9;
	position: absolute;
	left: 200px;
	bottom: 0;
}
.main_r ul{
	width: 780px;
	height: 360px;
	position: absolute;
	left: 0;
	top: 0;
}
.gold_main .main_r .l_five{
	z-index: 3;
}
.gold_main .main_r .l_ten{
	z-index: 2;
	display: none;
}
.gold_main .main_r .m_ten{
	z-index: 1;
	display: none;
}
.main_r ul li{
	width: 259px;
	height: 358px;
	float: left;
	margin-left: -1px;
	border-left: solid 1px #ddd;
	border-right: solid 1px #ddd;
	position: relative;
}
.main_r ul .left{
	margin-left: 0;
	border-left: 0;
}

.main_r .num_1{
	display: block;
	text-align: center;
	margin-top: 40px;
}
.main_r .yuqi{
	display: block;
	font-size: 12px;
	margin-bottom: 4px;
	color: #999;
	height: 45px;
	border: none;
	text-align: center;
}
.main_r .pro_name{
	color: #474747;
	font-size: 16px;
	padding: 0 30px;
	text-align: center;
	line-height: 20px;
	height: 60px;
	cursor: pointer;
	overflow: hidden;
	text-overflow:ellipsis;
}
.main_r .pro_name:hover{
	color: #f60;
}
.main_r .tedi{
	height: 40px;
	width: 260px;
	position: absolute;
	top: 220px;
	left: 10px; 
}
 .main_r .tedi dl{
	float: left;
	text-align: center;
	padding: 0 15px;
}
.main_r .middle{
	border-left: #ddd solid 1px;
	border-right: #ddd solid 1px;
}
.main_r .tedi dd{
	font-size: 12px;
	color: #999;
}
.main_r .tedi dt{
	color: #f60;
}
.main_r .low dt{
	padding-left: 9px;
	background: url(../img/sprite.png) no-repeat 6px -131px;
}
.main_r .normal_h dt{
	padding-left: 11px;
	background: url(../img/sprite.png) no-repeat 1px -171px;
}
.main_r .normal dt{
	padding-left: 9px;
	background: url(../img/sprite.png) no-repeat 6px -151px;
}
.main_r .high dt{
	padding-left: 9px;
	background: url(../img/sprite.png) no-repeat 6px -191px;
}
.main_r ul a{
	width: 160px;
	height: 40px;
	position: absolute;
	left: 50px;
	bottom: 30px;
	text-align: center;
	line-height: 40px;
	font-size: 16px;
	color: #fff;
	font-family: '微软雅黑';
}
.gold_main .main_r a{
	background: #7985CB;
}
.gold_main .main_r a:hover{
	background: #5a6abb;
}
.main_r .left:hover .num_1{
	color: #ff0000;
}
.main_r .mid:hover .num_1{
	color: #ff0000;
}
.main_r .right:hover .num_1{
	color: #ff0000;
}

.question dt{
	float: left;
	text-align: center;
}
.question dt a{
	font-family: "微软雅黑";
	display: block;
	width: 120px;
	height: 72px;
	font-size: 12px;
	line-height: 100px;
	background: url(../img/sprite.png) no-repeat -93px 15px;
}
.question dl a:hover{
	color: #f60;
}
.question dd{
	float: left;
	width: 280px;
	height: 36px;
	line-height: 36px;
	overflow: hidden;
	text-overflow:ellipsis;
}
.question dd a{
	font-family: "微软雅黑";
	color: #333;
}
.question .dashed{
	border-bottom: 1px dashed #ccc;
}
.question .mar{
	margin-right: 50px;
}

/*--------------信托和资管部分样式--------------*/
.affiance{
	margin-bottom: 30px;
}
.affiance .wrap980{
	margin: 0 auto;
	height: 490px;
}
.affiance .t_name{
	margin-bottom: 10px;
}
.affiance .t_name h2{
	background: url(../img/sprite.png) no-repeat -95px -94px;
}
.affiance_main{
	height: 460px;
	position: relative;
}
.affiance_main .side{
	width: 180px;
	height: 440px;
	background: url(../img/aff_bg.png) no-repeat 0 0;
	padding: 20px 0 0 20px;
	position: absolute;
	top: 0;
	left: 0;
}
.affiance_main .main_r a{
	background: #A07B6E;
}
.affiance_main .main_r a:hover{
	background: #90604e;
}

/*--------------阳光私募部分样式--------------*/
.sun{
	margin-bottom: 30px;
}
.sun .wrap980{
	margin: 0 auto;
	height: 490px;
}
.sun .t_name{
	margin-bottom: 10px;
}
.sun .t_name h2{
	background: url(../img/sprite.png) no-repeat -95px -124px;
}
.sun_main{
	height: 460px;
	position: relative;
}
.sun_main .side{
	width: 180px;
	height: 440px;
	background: url(../img/sun_bg.png) no-repeat 0 0;
	padding: 20px 0 0 20px;
	position: absolute;
	top: 0;
	left: 0;
}
.sun_main .main_r a{
	background: #F7B664;
}
.sun_main .main_r a:hover{
	background: #f5a846;
}

/*--------------好房众筹部分样式--------------*/
.house{
	margin-bottom: 50px;
}
.house .wrap980{
	margin: 0 auto;
	height: 530px;
}
.house .t_name{
	margin-bottom: 10px;
}
.house .t_name h2{
	background: url(../img/sprite.png) no-repeat -95px -154px;
}
.house_main{
	height: 500px;
	position: relative;
}
.house_main .side{
	width: 180px;
	height: 480px;
	background: url(../img/house_bg.png) no-repeat 0 0;
	padding: 20px 0 0 20px;
	position: absolute;
	top: 0;
	left: 0;
}
.house_main  .main_r{
	height: 400px;
	border-bottom: 0;
}
.house_main  .main_r .shadow{
	position: absolute;
	z-index: 2;
}
.house_main  .main_r .exp{
	width: 349px;
	height: 369px;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	float: left;
	padding: 15px 20px;
}
.main_r .exp .banner_o{
	width: 350px;
	height: 108px;
	background: red;
	margin-bottom: 20px;
	opacity: 0.75;
	filter:Alpha(opacity=75);
}
.main_r .exp .house_name{
	display: block;
	font-family: '微软雅黑';
	text-align: center;
	font-size: 16px;
	color: #474747;
	margin-bottom: 20px;
	line-height: 16px;
}
.main_r .exp .house_expect{
	text-align: center;
	font-size: 16px;
	line-height: 16px;
	color: #f60;
	margin-bottom: 20px;
}
.main_r .exp .inside{
	width: 350px;
	height: 34px;
}
.main_r .exp .inside dl{
	float: left;
	text-align: center;
	padding: 0 9px;
	width: 90px;
}
.main_r .exp .inside .middle{
	padding: 0 21px;
}
.main_r .exp .inside dl dt{
	font-size: 12px;
	color: #999;
	line-height: 12px;
	height: 18px;
}
.main_r .exp .inside dl dd{
	font-size: 16px;
	color: #f60;
	line-height: 16px;
}
.main_r .exp .condition{
	margin: 15px 0;
}
.main_r .exp .condition dl{
	width: 350px;
	height: 20px;
	line-height: 17px;
}
.main_r .exp .condition dt{
	float: left;
	width: 130px;
	text-align: right;
	font-size: 12px;
	color: #999;
}
.main_r .exp .condition dd{
	float: left;
	padding-left: 20px;
	font-size: 12px;
	color: #333;
}
.main_r .exp .loading{
	width: 350px;
	height: 20px;
	font-size: 12px;
	text-align: center;
	position: relative;
	margin-bottom: 2px;
}
.main_r .exp .loading span{
	display: block;
	height: 20px;
	background: red;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}
.main_r .exp .ready_hot .loading{
	color: #f60;
}
.main_r .exp .ready_hot a{
	display: block;
	text-align: center;
	width: 350px;
	line-height: 40px;
	background: #ffe5d4;
	height: 40px;
	font-family: '微软雅黑';
	font-size: 16px;
	color: #f60;
}
.main_r .exp .join .loading{
	color: #5FB963;
}
.main_r .exp .join a{
	display: block;
	text-align: center;
	width: 350px;
	line-height: 40px;
	background: #5FB963;
	height: 40px;
	font-family: '微软雅黑';
	font-size: 16px;
	color: #fff;
}
.main_r .exp .join a:hover{
	background: #4dac50;
}
.main_r .exp .join .loading span{
	background: #5FB963;
	opacity: 0.2;
	filter:Alpha(opacity=20);
	width: 50%;
}

/*--------------投资学堂部分样式--------------*/
.finance_school{
	background: #f1f1f1;
	padding-top: 30px;
	height: 458px;
}
.finance_school .wrap980{
	margin: 0 auto;
}
.finance_school .t_name{
	background: url(../img/sprite.png) no-repeat -95px -187px;
}
.finance_school .fs_main{
	background: #fff;
	width: 980px;
	height: 390px;
	border: 1px solid #ddd;
	position: relative;
}
.fs_main .tab{
	font-size: 20px;
	color: #999;
}

.fs_main .tab li{
	float: left;
	width: 490px;
	height: 60px;
	border: #ddd solid 1px;
	border-top: none;
	border-right: 0;
	text-align: center;
	line-height: 60px;
	background: #f5f5f5;
	cursor: pointer;
	margin-left: -1px;
}
.fs_main .tab .now{
	background: #fff;
	color: #f60;
	border-bottom: 0;
	height: 61px;
}
.fs_main .step{
	width: 928px;
	height: 120px;
	position: absolute;
	padding-top: 40px;
	padding-left: 52px;
	left: 0;
	top: 61px;
	border-bottom: solid #ddd 1px;
}
.fs_main .step .online{
	position: absolute;
	background: #fff;
	height: 120px;
}
.fs_main .step .outline{
	position: absolute;
	background: #fff;
	height: 120px;
}
.fs_main .step .online li{
	width: 185px;
	height: 55px;
	float: left;
	margin-right: 60px;
	background: url(../img/sprite.png) no-repeat 175px -373px;
}
.fs_main .step .outline li{
	width: 185px;
	height: 55px;
	float: left;
	margin-right: 60px;
	background: url(../img/sprite.png) no-repeat 175px -373px;
}
.fs_main .step li dt{
	color: #333;
	font-size: 18px;
	line-height: 25px;
	height: 25px;
}
.fs_main .step li dt span{
	width: 24px;
	height: 24px;
	display: block;
	float: left;
	margin-right: 10px;
	background: url(../img/sprite.png) no-repeat 0 -300px;
}
.fs_main .step li dt .second{
	background: url(../img/sprite.png) no-repeat -30px -300px;
}
.fs_main .step li dt .third{
	background: url(../img/sprite.png) no-repeat -60px -300px;
}
.fs_main .step li dt .forth{
	background: url(../img/sprite.png) no-repeat -90px -300px;
}
.fs_main .step li dd{
	color: #333;
	width: 125px;
	margin-top: 5px;
	font-size:12px;
	padding-left: 35px;
	line-height: 18px;
}
.fs_main .step .online .last{
	margin-right: 0;
}
.fs_main .step .outline .last{
	margin-right: 0;
}
.fs_main .step .outline .last dd{
	width: 90px;
}
.fs_main .step li dd a{
	color: #f60;
	font-family: '微软雅黑';
	font-size: 12px;
}
.fs_main .online a:hover{
	text-decoration: underline;
}
.fs_main .tool{
	position: absolute;
	left: 0;
	top: 222px;
}
.fs_main .tool dt{
	background: url(../img/sprite.png) no-repeat -398px -137px;
	width: 178px;
	height: 138px;
	padding-top: 30px;
	float: left;
}
.fs_main .tool dt h2{
	font-size: 20px;
	color: #f60;
	font-weight: normal;
	padding-left: 65px;
	line-height: 20px;
	background: url(../img/sprite.png) no-repeat 32px -265px;
}
.fs_main .tool dt p{
	width: 112px;
	margin: 15px auto 0;
	font-size: 12px;
	color: #474747;
}
.fs_main .tool dd{
	float: left;
	width: 160px;
	height: 168px;
}
.fs_main .tool dd a{
	display: block;
	width: 161px;
	height: 168px;
	font-family: '微软雅黑';
	font-size: 14px;
	color: #474747;
	text-align: center;
	line-height: 250px;
}
.fs_main .tool dd a:hover{
	color: #f60;;
	box-shadow: 0 4px 5px 1px #969696;
}
.fs_main .tool dd .one{
	background: url(../img/fs_1.png) no-repeat 43px 32px;
}
.fs_main .tool dd .two{
	background: url(../img/fs_2.png) no-repeat 43px 32px;
}
.fs_main .tool dd .three{
	background: url(../img/fs_3.png) no-repeat 43px 32px;
}
.fs_main .tool dd .four{
	background: url(../img/fs_4.png) no-repeat 43px 32px;
}
.fs_main .tool dd .five{
	background: url(../img/fs_5.png) no-repeat 43px 32px;
}
.fs_main .tool dd .one:hover{
	background: url(../img/fs_h1.png) no-repeat 43px 33px;
}
.fs_main .tool dd .two:hover{
	background: url(../img/fs_h2.png) no-repeat 43px 32px;
}
.fs_main .tool dd .three:hover{
	background: url(../img/fs_h3.png) no-repeat 43px 34px;
}
.fs_main .tool dd .four:hover{
	background: url(../img/fs_h4.png) no-repeat 43px 33px;
}
.fs_main .tool dd .five:hover{
	background: url(../img/fs_h5.png) no-repeat 43px 34px;
}